extends ../layout

block content
  .panel.panel-primary
    .panel-heading
        h5 Edit Payee
    .panel-body
        form.form(method='post' action='/payee/save/' + payee.id)
            input(type='hidden' name='_csrf' value=_csrf)
            .row
                .col-sm-12
                    label Name:
                        input.form-control(type='text' name='name' value=payee.name)
                .col-sm-12
                    label Payment URL:
                        input.form-control(type='text' name='url' value=payee.url)
                .col-sm-12
                    label Description:
                        input.form-control(type='text' name='description' value=payee.description)
                .col-sm-12
                    label Due:
                        input.form-control(type='date' name='ref' value=payee.ref)
                .col-sm-12
                    label Amount:
                        input.form-control(type='text' name='amount' value=payee.amount)
                .col-sm-12
                    input.btn.btn-primary(type='submit' value='Submit') 
                    | 
                    a.btn.btn-danger(href='/payee/delete/' + payee.id) Delete Payee