extends ../layout

block content
  .panel.panel-primary
    .panel-heading
        h5 Edit Payee
    .panel-body
        form.form(method='post' action='/payee/save/' + payee.id)
            div.form-group
                input(type='hidden' name='_csrf' value=_csrf)
                div.help-block.with-errors
                .row
                    .col-xs-12.col-sm-6
                        label(for='name') Name:
                        input.form-control(id='name' type='text' name='name' value=payee.name data-error='Name is required' required)
                    .col-xs-12.col-sm-6
                        label(for='url') Payment URL:
                        input.form-control(id='url' type='url' name='url' value=payee.url data-error='Please enter a valid URL')
                    .col-xs-12.col-sm-6
                        label(for='due') Due:
                        input.form-control(id='due' type='date' name='ref' value=payee.ref data-error='Due date is required' required)
                        div.help-block.with-errors
                    .col-xs-12.col-sm-6
                        label(for='amount') Amount:
                        input.form-control(id='amount' type='number' name='amount' value=payee.amount data-error='Amount is required' required)
                    .col-xs-12
                        label.form-label(for='description') Description:
                        input.form-control(id='description' type='text' name='description' value=payee.description)
                    .col-xs-12
                        br
                        input.btn.btn-primary(type='submit' value='Submit') 
                        | 
                        a.btn.btn-danger(href='/payee/delete/' + payee.id) Delete Payee