extends ../layout

block content
    row
        col-xs-12
            a(class='btn btn-primary', href='/payee/edit') Create New
    br
    br
    .panel.panel-primary
        .panel-heading
            h5 Who do I pay each month?
        .panel-body
            .row
                .col-xs-6.col-sm-4
                    small(style='font-variant: small-caps;') Active Payees
                    h4 #{count}
                .col-xs-6.col-sm-4
                    small(style='font-variant: small-caps;') Monthly Amount
                    h4 $ #{formatCurrency(total)}
        table.table.table-striped
            thead
                tr
                    th Name
                    th.hidden-xs Description
                    th Due
                    th Amount
            for payee in payees
                tr
                    td
                        a(href="/payee/view/" + payee._id) #{payee.name}
                        | 
                        if payee.url.length
                            a(href=payee.url, target='_blank') <i class="fa fa-external-link"></i>
                    td.hidden-xs #{payee.description}
                    td #{moment(payee.ref).format('Do')}
                    td $#{formatCurrency(payee.amount)}