extends ../layout

block content
  .panel.panel-primary
    .panel-heading
        h5= payee.name
    .panel-body
        .row
            .col-xs-6
                .row
                    .col-xs-4
                        small(style='font-variant: small-caps;') Due Date
                        h4 #{moment(payee.ref).format('Do')}
                    .col-xs-4
                        small(style='font-variant: small-caps;') Amount
                        h4 #{formatCurrency(payee.amount, {format: '%s%v', code: 'USD', symbol: '$'})}
                    .col-xs-4
                        small(style='font-variant: small-caps;') Average
                        h4 #{formatCurrency(avgPayment, {format: '%s%v', code: 'USD', symbol: '$'})}
            .col-xs-6
                .row
                    .col-xs-12
                        .well
                            p you are here
        .row
            .col-xs-12
                h6 Description:
                p #{payee.description}
        .row 
            .col-xs-12
                a(class='btn btn-primary' href='/payee' style='width: 150px;') Back to Payees 
                | 
                a(class='btn btn-success' href='/payee/edit/' + payee.id style='width: 150px;') Edit