extends ../layout

block content
  .panel.panel-primary
    .panel-heading
        h5= payee.name
    .panel-body
        .row
            .col-xs-6
                .row
                    .col-xs-4
                        small(style='font-variant: small-caps;') Due Date
                        h4 #{moment(payee.ref).format('Do')}
                    .col-xs-4
                        small(style='font-variant: small-caps;') Amount
                        h4 #{formatCurrency(payee.amount, {format: '%s%v', code: 'USD', symbol: '$'})}
                    .col-xs-4
                        small(style='font-variant: small-caps;') Average
                        h4 #{formatCurrency(avgPayment, {format: '%s%v', code: 'USD', symbol: '$'})}
            .col-xs-6
                .row
                    .col-xs-12
                        .well
                            form.form-inline(method='post' action='/payee/pay/' + payee.id)
                                input(type='hidden' name='_csrf' value=_csrf)
                                input.form-control(type='date' name='ref' value=payDate) 
                                | 
                                input.form-control(type='text' name='amount')
                                | 
                                input.btn.btn-primary(type='submit' value='Submit')
        .row
            .col-xs-12
                h6 Description:
                p #{payee.description}
        .row 
            .col-xs-12
                a(class='btn btn-primary' href='/payee' style='width: 150px;') Back to Payees 
                | 
                a(class='btn btn-warning' href='/forecast' style='width: 150px;') Forecast 
                | 
                a(class='btn btn-success' href='/payee/edit/' + payee.id style='width: 150px;') Edit

    if payments.length
        .panel.panel-primary
            .panel-heading
                h5 Payments
            table.table.table-striped
                thead
                    tr
                        th Payee
                        th Due Date
                        th Paid Date
                        th Amount
                for payment in payments
                    tr
                        td #{payee.name}
                        td #{moment(payment.ref).format('M/D/YYYY')}
                        td #{moment(payment.created).format('M/D/YYYY')}
                        td #{formatCurrency(payment.amount, {format: '%s%v', code: 'USD', symbol: '$'})}