extends ../layout

block content
    div
        for week in weeks
            .panel.panel-primary
                .panel-heading
                    | #{week.start} - #{week.end}
                .panel-body
                    .row
                        .col-xs-6.col-sm-4
                            small(style='font-variant: small-caps;') Count
                            h4 #{week.count}
                        .col-xs-6.col-sm-4
                            small(style='font-variant: small-caps;') Amount Due
                            h4 $#{formatCurrency(week.amountDue)}
                table.table.table-striped
                    thead
                        tr
                            th Name
                            th Description
                            th Due
                            th Amount
                    for payee in week.payees
                        tr
                            td
                                a(href="/payee/" + payee._id) #{payee.name}
                            td(class='hidden-xs') #{payee.description}
                            td #{moment(payee.ref).format('Do')}
                            td $#{formatCurrency(payee.amount)}