extends ../layout

block content
    div
        for week in weeks
            .panel.panel-primary
                .panel-heading
                    | #{week.start} - #{week.end}
                .panel-body
                    .row
                        .col-xs-6.col-sm-4
                            small(style='font-variant: small-caps;') Amount Due
                            h4 $#{formatCurrency(week.amountDue)}
                            small #{week.percentMonth.toLocaleString('en-US')}% of month
                table.table.table-striped
                    thead
                        tr
                            th(width='20%') Date
                            th Name
                            th(width='10%') Mark Paid
                    for payee in week.payees
                        tr
                            td #{moment(payee.date).format('dddd, M/D/YYYY')}
                            td #{payee.name}
                                if (payee.url)
                                    | &nbsp;&nbsp;( 
                                    a(href=payee.url target='_blank') Website 
                                    | )
                                br
                                | #{payee.description}
                            td 
                                a(class='btn btn-warning' style='width: 100%') $#{formatCurrency(payee.amount)}