extends ../layout

block content
    div
        for week in weeks
            .panel.panel-primary
                .panel-heading
                    | #{week.start} - #{week.end}
                .panel-body
                    for payee in week.payees
                        div #{payee.name} - #{moment(payee.ref).format('Do')} - #{payee.amount}